body{
    margin-top: 150px;
}

#authentification-form{
    width: 40%;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 1px 1px 5px 2px lightgrey;
}

input{
    width: 96.5%;
    height: 20px;
    padding: 5px;
    border-radius : 5px;
    border: 1px solid lightgrey;
    box-shadow: 0 0 3px 0px lightgrey;
}
input:focus, input:focus-visible{
    border: 2px solid lightblue;
    box-shadow: 1px 1px 5px 0px lightblue;
}

button.submit{
    width: 100%;
    padding: 5px;
    border-radius : 5px;
    border: 1px solid lightgrey;
    box-shadow: 0 0 3px 0px lightgrey;
    background: #E39514;
    color:#fff;
    padding: 10px;
    text-align: center
}

label{
    display:block;
}

h1, h2{
    text-align: center;
}

h1{
    color: #E39514;
    border-bottom: 2px solid lightgrey;
}